langchain-google-genai
langchain_community
langchain
langchain-openai
langchain-mistralai
python-dotenv
markdown
streamlit
bs4
unstructured
gpt4all
faiss-cpu

google-generativeai
langchain-google-genai